/* slick grid theme variables ------------------------- */

$buttonSideMargin:    7px;
$tableBorderTop:      #b5b5b5;
$tableBorderSides:    #b5b5b5;
$tableBorderBottom:   #b5b5b5;

$innerBorderColor:    #E9F0F5;

$tableHeaderSidesBorder:   #b5b5b5;
$tableHeaderBottomBorder:  #b5b5b5;
$tableHeaderColor:         #525252;

$datagridHover:       #F5FAFA;
$datagridOddBG:       #FAFAFA;
$datagridSelected:    #ffe57d;
$datagridLink:        #247fbf;
